section.services {
    background-color: $color-primary;
    padding: 140px 0;

    .service {
        background-color: white;
        padding: 26px;
        img {
            float: left;
            display: block;
            margin-bottom: 80px;
            margin-right: 25px;
        }

        h3 { margin-top: 0; }
        &:first-child { margin-right: 14px; }
        &:last-child { margin-left: 14px; }
        p { margin-bottom: 0; }
    }
}
