$sm: 516px;
$md: 721px;
$lg: 791px;

$pink: #ff64c2;
$grey: rgb(121,121,121);

$color-primary: $pink;
$color-secondary: $grey;

$font-primary: "Open Sans", serif;

$font-size-base: 14px;
$font-size-h1: $font-size-base * 3.42;
$font-size-h2: $font-size-base * 2.14;
$font-size-h3: $font-size-base * 1.71;
$font-size-h4: $font-size-base * 1.42;

$line-height-base: 30px;
$line-height-h1: $line-height-base * 2.5;

@import '_mixins';
@import '_global';
@import '_helpers';
@import '_search-form';
@import '_intro';
@import '_navigation';
@import '_benefits';
@import '_services';
@import '_person';
// @import '_team';
// @import '_carousel';
// @import '_contact';
// @import '_title';
@import '_button';
// @import '_footer';
// @import '_media';
